/*
Scatter - A distributed social network template
Copyright (C) 2014 Scatter
*/

#post{
	border: 1px solid black;
	margin-left:auto;
	margin-right:auto;
	float:center;
	margin-bottom:20px;
	width:80%;
	background-color:lightgrey;
	text-align:center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

