/* 
Scatter - A distributed social network template
Copyright (C) 2014 Scatter
*/
html{
	background-color:#B8FF94;
	word-wrap: break-word;
	overflow:hidden;
}
header{
	border-bottom:1px solid black;
	height:80px;
	width:100%;
	top:5px;
	position:fixed;
	background-color:green;
	margin-top:-8px;
	margin-left:-8px;
	z-index:1;
}
#scatter{
	position:fixed;top:-14px;
}
#scatter_image{
	width:64px;
	height:64px;
	vertical-align:middle;
}
#message_box_image{
	position:fixed;
	right:115px;
	top:40px;
	width:32px;
}
#notifications_image{
	position:fixed;
	right:75px;
	top:40px;
	width:32px;
}
#friends_image{
	position:fixed;
	right:35px;
	top:40px;
	width:32px;
}
#feed{
        width:73%;
        float:center;
        border-left:1px solid black;
        border-right:1px solid black;
        margin-left:auto;
        margin-right:auto;
        left:13.5%;
        right:13.5%;
        height:100%;
        overflow-y:scroll;
        position:fixed;
}
#spacer{
	height:57px;
	width:100%;
}
#spacer2{
	height:80px;
}
#spacer3{
	height:30px;
}
#spacer4{
	float:left;
	height:40px;
	width:100%;
}
#post{
	float:left;
	border: 1px solid black;
	margin-left:4%;
	margin-bottom:20px;
	width:44%;
	background-color:lightgrey;
	text-align:center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#person{
	float:left;
	margin-left:5px;
	margin-top:-15px;
	margin-bottom:-17px;
}
#profile_picture{
	max-height:25px;
	max-width:25px;
	vertical-align:middle;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#time{
	float:right;
	margin-right:5px;
	margin-top:-15px;
	margin-bottom:-17px;
	right:0px;

}
#shift{
	margin-top:7px;
	border-top:1px solid slategrey;

}
#logout{
	position:fixed;
	right:2px;
	top:2px;
	z-index:3;
}
#friends{
	height:100%;
	width:13%;
	position:fixed;
	right:0px;
	overflow-y:auto;
}
#friend{
	float:center;
	border-bottom:1px solid black;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;

}
#ToC{
	height:100%;
	width:13%;
	left:3px;
	position:fixed;
	overflow-y:auto;
}
#settings{
	width:13%;
	position:fixed;
	bottom:0px;
	left:0px;
	border-bottom:1px solid black;
	border-top:1px solid black;
	text-align:center;
}
#bottom_ToC{
	width:13%;
	position:fixed;
	bottom:0px;
	left:3px;
	text-align:center;
}
#bottom_ToC_items{
	float:center;
	border-top:1px solid black;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#message_box_activated{
	z-index:1;
	height:250px;
	width:15%;
	position:fixed;
	border:1px solid black;
	bottom:0px;
	background-color:#B8FF94;

}
#message_head{
	background-color:green;
	width:100%;
	height:25px;
	text-align:center;
}
#messages{
	overflow:scroll;
	width:100%;
	height:200px;
}
#minimized{
	z-index:1;
	background-color:green;
	width:15%;
	height:25px;
	text-align:center;
	bottom:0px;
	position:fixed;
}
#message_them{
	max-width:90%;
	min-width:40%;
	margin-right:10%;
	margin-top:5px;
	background:lightgrey;
	border:1px solid black;
	float:left;
	margin-left:4%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}
#message_you{
	margin-top:5px;
	max-width:90%;
	min-width:40%;
	margin-left:10%;
	background:lightgrey;
	border:1px solid black;
	float:right;
	margin-right:0px;
	text-align:right;
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
}
#message_padding{
	width:95%;
	margin-left:auto;margin-right:auto;
}
#message_notification{
	float:right;
	width:25px;
	text-align:center;
	position:relative;
	background-color:green;
}
#message_input{
	width:67%;height: 30px;
	left:15%;right:18%;
	position:fixed;
	bottom:5px;
	float:center;
	-webkit-border-radius: 10px;-moz-border-radius:10px;border-radius: 10px;
}
#post_input{
	width:67%;
	left:15%;right:18%;
	-webkit-border-radius: 10px;-moz-border-radius:10px;border-radius: 10px;
	position:fixed;
	top:85px;
	float:center;
	font-family:"courier";
	font-size:15px;
	resize: none;
}
#camera{
	position:fixed;
	top:85px;
	height:30px;
	right:15%;
	z-index:1;
	max-width:3%;
}
#user_search_input{
	width:11%;height: 30px;
	right:1%;
	-webkit-border-radius: 10px;-moz-border-radius:10px;border-radius: 10px;
	position:fixed;
	top:85px;
}
#hidden_submit{
	display:none;
}
#load_more{
	float:center;
	margin-left:auto;margin-right:auto; 
	display: block;
}
#hidden_file{
	display:none;
}
#comment_text{
	border-top:1px solid grey;
	text-align:left;
	color:grey;
}
#grey{
	color:grey;
}
#view_comments{
	position:absolute;
	right:2px;
	font-size:12px;
	color:grey;
	float:right;
}
#comment{
	position:relative;
	font-size:12px;
	width:99%;
}
#image{
	max-height:75%;max-width:95%;
}
#comment_name{
	text-align:left;
	float:left;
}
#server_location{
	text-align:center;
	float:left;
	width:40%;
	margin-left:10%;
	background-color:lightgrey;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
}
#server_ip{
	text-align:center;
	float:left;
	width:40%;
	background-color:lightgrey;
	border-right:1px solid black;
	border-left:1px solid black;
	border-bottom:1px solid black;
}
#likedislike{
font-size:10pt;float:center;width:100%;color:grey;
}
::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}
 
::-webkit-scrollbar-track-piece  {
background-color: transparent;

}

::-webkit-scrollbar-thumb:vertical {
background-color: grey;
-webkit-border-radius: 6px;
opacity:0.2;
}
