/* 
Scatter - A distributed social network template
Copyright (C) 2014 Scatter
*/
header{
	height:50px;
}
#scatter{
	margin-top:0px;
}
#logout{
	position:fixed;
	right:2px;
	top:2px;
	z-index:3;
	margin-top:0px;
	margin-right:0px;
	font-size:10pt;
}
#feed{
        width:100%;
        left:0%;
        right:0%;
}
#post{
	width:92%;
}
#spacer{
	height:25px;
}
#post_input{
	top:52px;
	width:80%;
	left:2%;
}
#camera{
	top:52px;
	right:2%;
	height:35px;
	max-width:14%;
}
#notifications_image{
	display:none;	
}
#message_box_image{
	display:none;
}
#friends_image{
	display:none;
}
#scatter_image{
	width:40px;
	height:40px;
}
#scatter{
	top:2px;
}
